colorama==0.4.6
faiss-cpu==1.11.0
fastapi==0.115.13
google-auth==2.40.3
google-genai==1.21.0
hf-xet==1.1.4
httpx==0.28.1
huggingface-hub==0.33.0
networkx==3.5
numpy==2.3.0
openai==1.88.0
pyarrow==20.0.0
pydantic==2.11.7
pypdf2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.4
sentence-transformers==4.1.0
streamlit==1.46.0
tenacity==8.5.0
tiktoken==0.9.0
tqdm==4.67.1
typing-extensions==4.14.0
uvicorn==0.34.3
